<div class="d-flex justify-content-center align-items-center vh-200">
  <h1 class="text-white" style="background-color: rgba(50, 50, 50, 0.5);">
  We are glad that you chose us, we do everything so that you get the best
  </h1>
</div>
