<footer class="text-white text-center text-lg-start">
  <hr>
  <div class="text-center p-3">
    © <%= Date.today.year %> Copyright:
    <a class="text-white" href="https://chat.openai.com/">Store.com</a>
  </div>
</footer>
